.core-theme {
          --core-space-0: 0;
  --core-space-25: 2px;
  --core-nuance-0: #FFFFFF;
  --core-nuance-100: #fcfcfd;
  --core-nuance-1000: #000000;
  --core-neutral-0: #f2f3f5;
  --core-neutral-50: #E4E7EB;
  --core-neutral-100: #D6DDE4;
  --core-neutral-150: #C7CFD8;
  --core-neutral-200: #B6C2CD;
  --core-neutral-250: #9AA8B7;
  --core-neutral-300: #7A8999;
  --core-neutral-350: #68798A;
  --core-neutral-400: #526374;
  --core-neutral-450: #3C4D5D;
  --core-neutral-500: #293847;
  --core-neutral-550: #1C2630;
  --core-neutral-600: #0F1419;
  --ref-color-primary: #293847;
      }